#map {
    height: 100%;
    width: 100%;
}
.mapHolder{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    width: 100%;
    height: 100%;
    
}
.restOfTheApp{
    width: 40%;
    overflow-y: scroll;
}
#mapIcons{
    position:absolute;
    left: 0;
    top:80px;
    z-index: 500;

    background-color: red;
}
#mapIcons>h3{
    margin:0px;

}