#map {
    height: 100%;
    width: 100%;
    
}
.mapHolder{
    position: relative;
   
    width: 100%;
    height: 100%;
    
}
.restOfTheApp{
        width: 30%;
        height: 100%;
        overflow-y: scroll;
        position: absolute;
        z-index: 500;
        top: 0;
        right: 0;
        background-color: gainsboro;
}
#mapIcons{
    
    

    background-color: red;
}
#mapIcons>h3{
    margin:0px;

}